@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<h1 class="floatLeft">@CurrentPage.PageTitle</h1>
@if (Request.QueryString["return"] == "true")
{
<div class="floatRight">
    <a href="/blog/" title="Back to blog posts">Back</a>
</div>
}
<div class="clearBoth"></div>
<div class="blog-content">
    <div><strong>Published: </strong>@CurrentPage.UpdateDate</div>
    <hr style="margin:30px 0 30px 0" />
    <ul class="blog-categories">
        @foreach (var category in CurrentPage.blogCategory)
        {
            <li class="floatLeft">
                <a href="/blog/?catid=@category.Id" title="See all blog posts in this category">@category.Name</a>
            </li>
        }
    </ul>
    <div class="clearBoth">
        <img class="blog-image" src="@CurrentPage.blogImage.Url" alt="@CurrentPage.PageTitle" title="@CurrentPage.PageTitle" />
        @CurrentPage.BlogContent
    </div>
</div>