@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var blogPosts = CurrentPage.DescendantsOrSelf("BlogPost");
}


<h2>@CurrentPage.PageTitle</h2>
<p>@CurrentPage.IntroText</p>
@if (blogPosts == null)
{
    <p>There are no blog posts yet!</p>
}
else
{
    foreach (IPublishedContent blogPost in blogPosts)
    {
        var blogImage = Umbraco.TypedMedia(blogPost.GetPropertyValue<int>("blogImage"));
        <div class="blog-item">
            <div class="floatLeft">
                <a href="@blogPost.Url"><img src="@blogImage.Url" alt="@blogPost.GetPropertyValue("PageTitle")" title="@blogPost.GetPropertyValue("PageTitle")" /></a>
            </div>
            <div class="floatLeft blog-item-right">
                <h3><a href="@blogPost.Url">@blogPost.GetPropertyValue("PageTitle")</a></h3>
                <p><strong>Published: </strong>@blogPost.UpdateDate</p>
                <p>@blogPost.GetPropertyValue("BlogStandfirst")</p>
            </div>
        </div>
        <hr class="clearBoth" />
    }
}
