@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.NodeFactory
@using System.Linq
@{
    Layout = "Master.cshtml";
    int categoryId = Request.QueryString["catId"] != null ? int.Parse(Request.QueryString["catId"]) : 0;
    var blogPosts = categoryId>0 ? Model.Content.DescendantsOrSelf("BlogPost").Where(x => x.GetPropertyValue<IEnumerable<IPublishedContent>>("blogCategory").Select(y=>y.Id).Any(z=> z ==categoryId)) : Model.Content.DescendantsOrSelf("BlogPost");
}

<h1>@CurrentPage.PageTitle</h1>
<div class="intro">@CurrentPage.IntroText</div>

@if (categoryId>0)
{
    var category = new Node(categoryId);
    <div class="blog-filter"><strong>Filtered by: </strong><span class="category-filter"><a href="#">@category.Name</a></span></div>
}
<hr style="margin:30px 0 30px 0" />
@if (blogPosts == null)
{
    <p>There are no blog posts yet!</p>
}
else
{
    foreach (IPublishedContent blogPost in blogPosts)
    {
        var blogImage = blogPost.GetPropertyValue<IPublishedContent>("blogImage");
        <div class="blog-item">
            <div class="floatLeft">
                <a href="@blogPost.Url?return=true"><img src="@blogImage.Url.Replace(".jpg", "_thumb.jpg")" alt="@blogPost.GetPropertyValue("PageTitle")" title="@blogPost.GetPropertyValue("PageTitle")" /></a>
            </div>
            <div class="floatLeft blog-item-right">
                <h3><a href="@blogPost.Url?return=true">@blogPost.GetPropertyValue("PageTitle")</a></h3>
                <p><strong>Published: </strong>@blogPost.UpdateDate</p>
                <p>@blogPost.GetPropertyValue("BlogStandfirst")</p>
            </div>
        </div>
        <hr class="clearBoth" style="margin:30px 0 30px 0" />
    }
}
