@using umbraco.NodeFactory
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var calligraphyStyles = CurrentPage.validCalligraphyStyles.ToString().Split(Char.Parse(","));
}

@if (calligraphyStyles != null)
{
    foreach (var styleId in calligraphyStyles)
    {
        var style = new Node(int.Parse(styleId));
        var styleImage = Umbraco.TypedMedia(style.GetProperty<int>("styleImage"));

        <div class="floatLeft">
            <h2>@style.Name</h2>
            <div>@Html.Raw(style.GetProperty("styleDescription").Value)</div>
            <div>
                <img src="@styleImage.Url" alt="@style.GetProperty("styleName")" title="@style.GetProperty("styleName")" />
            </div>
        </div>
    }
    <div class="clearBoth"></div>
}