@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<h1>@Model.Content.Name</h1>
<div>
    <div class="intro">@CurrentPage.IntroductionText</div>
    <hr style="margin:30px 0 30px 0" />
    @foreach (var certificate in Model.Content.Children().Where(x => x.DocumentTypeAlias == "Certificates"))
    {
        if (certificate.HasValue("certificateImages"))
        {
            var certImage = certificate.GetPropertyValue<IEnumerable<IPublishedContent>>("certificateImages").FirstOrDefault();
        
        <div class="cert-showcase-item">
            <div>
                <a href="@certificate.Url" title="@certImage.Name">@certificate.Name</a>
            </div>
            <a href="@certificate.Url" title="@certImage.Name">
                <img src="@certImage.Url" alt="@certImage.Name" title="@certImage.Name" />
            </a>
        </div>
        }
    }
    
</div>