@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}



<div>
    <h2>@Model.Content.Name</h2>
    <p>@CurrentPage.certificatesDescription</p>
    @{
        var carouselImages = Model.Content.HasValue("certificatesImages") ? Model.Content.GetPropertyValue<string>("certificatesImages").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse) : null;
        var carouselImageObjects = carouselImages != null ? Umbraco.TypedMedia(carouselImages).Where(x => x != null) : null;
    }

    @if(carouselImageObjects != null){
    <ul id="certificate-image-carousel">
        @foreach (var caroselImage in carouselImageObjects)
        {
        <li>
            <img src="@caroselImage.Url" alt="@caroselImage.Name" />
        </li>
        }
    </ul>
    }
    @if(carouselImageObjects != null){
    <text>
    <div>
        <button>Order</button>
        <ul id="certificate-images">
            @foreach (var caroselImage in carouselImageObjects)
            {
            <li>
                <img src="@caroselImage.Url" alt="@caroselImage.Name" />
            </li>
            }
        </ul>
    </div>
    </text>
    }
    
</div>