@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Calligraphy.Helpers;
@{
    Layout = "Master.cshtml";
}

@section Css{

}

<div class="certificates">
    <div class="section-desc">
        <h1>@Model.Content.Name</h1>
        <div class="intro">@CurrentPage.certificatesDescription</div>
        <hr />
    </div>
    @if (CurrentPage.HasValue("certificateImages") != null)
    {   
    <div class="cert-showcase">
        @foreach (IPublishedContent showcaseItem in Model.Content.DescendantsOrSelf("certificateShowcase"))
        {
            var thumbnailImage = showcaseItem.GetPropertyValue<IEnumerable<IPublishedContent>>("thumbnailImage").FirstOrDefault();
            <div class="cert-showcase-item">
                <div>
                    <a href="@showcaseItem.Url">
                        <img src="@thumbnailImage.Url" alt="@showcaseItem.GetPropertyValue("Title")" title="@showcaseItem.GetPropertyValue("Title")" />
                    </a>
                </div>
                <div>
                    <a href="@showcaseItem.Url">@showcaseItem.GetPropertyValue("pageTitle")</a>
                    <p>@showcaseItem.GetPropertyValue("Description").ToString().TruncateSentence(10)</p>
                </div>
            </div>
        }
    </div>
    <div class="clearBoth"></div>
    }
</div>

@section Scripts {
}