@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Calligraphy.Models;

@using System.Linq;
@{
    Layout = "Master.cshtml";
    var carouselImages = Model.Content.HasValue("caroselImages") ? Model.Content.GetPropertyValue<string>("caroselImages").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse) : null;
    var carouselImageObjects = carouselImages != null ? Umbraco.TypedMedia(carouselImages).Where(x => x != null) : null;
    var blogItems = Umbraco.ContentAtXPath("/root/Home/Blog/BlogPost");
}

<div class="home-bergamot1">~</div>
<div class="home-intro">@CurrentPage.introText</div>
<div class="home-bergamot1">U</div>
@Html.Partial("_ContentBox", new HomeContentBlobModel { CssClasses= "homeContainer floatLeft", Title= "Certificates", Content= @CurrentPage.CertificatesText.ToString() })
@Html.Partial("_ContentBox", new HomeContentBlobModel { CssClasses = "homeContainer marginL20 floatLeft", Title = "Calligraphy", Content = @CurrentPage.CalligraphyText.ToString() })
<div class="clearBoth"></div>
<br />
<div class="homeContainerFull">
    <div class="homeContainerHeading">
        <h2>Recent Blog Posts</h2>
    </div>
    <div class="homeContainerBottom">
        @if (blogItems != null)
        {       
            foreach (var blogPost in blogItems.Take(3))
            {
                <div class="floatLeft" style="width:400px; ">
                    <a href="@blogPost.Url">@blogPost.PageTitle</a>
                    <hr />
                    <div>@blogPost.GetPropertyValue("BlogStandfirst")</div>
                </div>
            }
            <div class="clearBoth"></div>
        }
    </div>
</div>
@section Scripts {
    
}