@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}


@{
    var carouselImages = Model.Content.HasValue("caroselImages") ? Model.Content.GetPropertyValue<string>("caroselImages").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse) : null;
    var carouselImageObjects = carouselImages != null ? Umbraco.TypedMedia(carouselImages).Where(x => x != null) : null;
}


<script>
    jQuery(document).ready(function ($) {
        var options = {
            $AutoPlay: true
        };

        var jssor_slider1 = new $JssorSlider$('certificate-image-carousel', options);
    });
</script>

@if (carouselImageObjects != null)
{

    <div id="certificate-image-carousel" style="position: relative; top: 0px; left: 0px; width: 400px; height: 200px;">
        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 400px; height: 200px;">
            @foreach (var caroselImage in carouselImageObjects)
            {
                <div><img u="image" src="@caroselImage.Url" alt="@caroselImage.Name" /></div>
            }
        </div>
    </div>
}
<div>@CurrentPage.introText</div>
<div class="homeContainer floatLeft">
    <div class="homeContainerHeading">
        <h2>Certificates</h2>
    </div>
    <div class="homeContainerBottom">@CurrentPage.CertificatesText</div>
</div>
<div class="homeContainer marginL20 floatLeft">
    <div class="homeContainerHeading">
        <h2>Calligraphy</h2>
    </div>
    <div class="homeContainerBottom">@CurrentPage.CalligraphyText</div>
</div>
<div class="clearBoth"></div>
<div>
    <h2>Recent blog posts</h2>
    <ul>
        <li>boom1</li>
        <li>boom2</li>
        <li>boom3</li>
        <li>boom4</li>
    </ul>
</div>

@section Scripts {
    
}