@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Optimization;
@{
    Layout = null;
    var rootNodes = Umbraco.TypedContentAtRoot().FirstOrDefault().Children;
    var topNavItems = rootNodes.Where(x => !x.GetPropertyValue<bool>("hideFromTopNavigation"));
    var footerNavItems = rootNodes.Where(x => x.GetPropertyValue<bool>("addToFooterNavigation"));
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>@CurrentPage.pageTitle</title>
  <meta name="description" content="@CurrentPage.HtmlMetaDescription" />
  <meta name="keywords" content="@CurrentPage.HtmlMetaKeywords" />
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" type="text/css" href="/content/css/site.css" />

    
  @Scripts.Render("~/bundles/JsLibraries")
  

  <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script type="text/javascript" src="jquery-1.4.3.min.js"></script>-->
  <!--<script type="text/javascript" src="/content/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
  <script type="text/javascript" src="/content/fancybox/jquery.fancybox-1.3.4.pack.js"></script>-->
  <link rel="stylesheet" type="text/css" href="/content/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
</head>

<body>
    @*<div id="container_header"><p>&nbsp;</p></div>*@
    <div style=""></div>
    <div id="main">
        <div id="header">
            @*<div id="banner"></div>*@
            <div id="navigation" class="container">
                <a href="/">Home</a>
                @foreach (var child in topNavItems)
                {            
                    if (child.DocumentTypeAlias == "CertificatesHome" && child.Children.Any())
                    {
                    <div class="dropdown">
                        <div class="dropbtn">@child.Name</div>
                        <div class="dropdown-content">
                            @foreach (var subMenuItem in child.Children)
                            {
                                <a href="@subMenuItem.Url">@subMenuItem.Name</a>
                            }
                        </div>
                    </div>
                    }
                    else {
                    <a href="@child.Url">@child.Name</a>
                    }
                }
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Log out", "MemberLogout", "MemberLoginSurface")
                }
            </div>
        </div>
        <div id="site_content">
            <div id="content">
                <div class="clear"></div>
                <div class="content_item">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div id="footer">
            <div>
                @foreach (var child in footerNavItems)
                { 
                <a href="@child.Url">@child.Name</a>
                }
                <!--<a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a> | <a href="http://dryicons.com/">Icons</a> | website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a>-->
            </div>
        </div>
    </div>
        <div id="container_footer">&nbsp;</div>
        <p style="float: left;padding: 0;">&nbsp;</p>
        <div style="margin: 1em 0 3em 0; text-align: center;">
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
