@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Optimization;
@{
    Layout = null;
    var rootNodes = Umbraco.TypedContentAtRoot().FirstOrDefault().Children;
    var topNavItems = rootNodes.Where(x => !x.GetPropertyValue<bool>("hideFromTopNavigation"));
    var footerNavItems = rootNodes.Where(x => x.GetPropertyValue<bool>("addToFooterNavigation"));
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>@CurrentPage.pageTitle</title>
  <meta name="description" content="@CurrentPage.HtmlMetaDescription" />
  <meta name="keywords" content="@CurrentPage.HtmlMetaKeywords" />
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" type="text/css" href="/content/css/site.css" />
  @RenderSection("Css", false)
  @Scripts.Render("~/bundles/JsLibraries")
</head>
<body>
    <div id="" class="site-header">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Log out", "MemberLogout", "MemberLoginSurface")
        }
        <div id="header">
            @*<div id="banner"></div>*@
            <div id="" class="navigation-container">
                <a href="/" class="nav-item" title="Boncrire Home">
                    <img src="~/content/images/Logo1.png" />
                </a>
                @foreach (var child in topNavItems)
                {
                    <a href="@child.Url" class="nav-item" title="@child.Name">@child.Name</a>
                }
            </div>
            @*<div style="height: 200px; line-height: 200px; text-align: center;">
                <span style="display: inline-block; vertical-align: middle; line-height: normal; font-size:50px; color:#fff;">Hand crafted mementos of your cherished days...</span>
            </div>*@
        </div>
    </div>
    <div style=""></div>
    <div id="main">
        <div id="site_content">
            <div id="content">
                <div class="clear"></div>
                <div class="content_item">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="footer-top"></div>
        <div class="footer-middle">
            <ul class="footer-nav">
                @{
                    int i = 0;
                }
                @foreach (var child in footerNavItems)
                {
                    var spacer = i != footerNavItems.Count()-1 ? "|" : string.Empty;
                    <li><a href="@child.Url" title="@child.Name">@child.Name</a></li>
                    if (!string.IsNullOrEmpty(spacer))
                    {
                    <li>@spacer</li>
                    }
                    i++;
                }
            </ul>
        </div>
        <div class="footer-bottom">
            <ul class="footer-bottom-nav">
                <li>&#64; Copyright @DateTime.Now.Year</li>
                <li>|</li>
                <li>Bon Ecrire</li>
            </ul>
        </div>
    </div>
    @*<div id="container_footer">&nbsp;</div>
    <p style="float: left;padding: 0;">&nbsp;</p>
    <div style="margin: 1em 0 3em 0; text-align: center;"></div>*@
    @RenderSection("Scripts", false)
</body>
</html>
